# Flutter
.dart_tool/
.packages
.pub/
build/
*.iml
.idea/
.vscode/
*.lock

# Node
node_modules/
package-lock.json

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local

# IDE
.cursor/

# Generated
*.g.dart
*.freezed.dart
